@use 'global_variables';
.pageBodyContainer{
    background-color: global_variables.$primary-color;
    display: flex;
    flex-direction: column;
}

.footerContainer{
    background-color: global_variables.$secondary-color;
    color: global_variables.$primary_text_color;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 5%;
}
